<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h2>Capitan Milanga </h2> - <h4>(01/03/2021 - 20/10/2022)</h4></li>
            <p>
                Trabajé en atención al público y como cocinero en el local
                gastronómico Capitán Milanga. 
            </p>
        </ul>
        <ul>
            <li><h2>The Bar</h2> - <h4>(05/11/2017 – 07/03/2019)</h4></li>
            <p>
                Trabajé de atención al cliente, manejando programas de cobro, posnet y efectivo.

            </p>
        </ul>
        <ul>
            <li><h2>Meditel </h2> - <h4>(05/06/2017- 05/07/2017)</h4></li>
            <p>
                Realicé una pasantía no remunerada en el sector administrativo de la empresa Meditel. 
            </p>
        </ul>
    </div>
</div>
