<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="https://uploads1.wikiart.org/images/oswaldo-guayasamin/ternura-1989.jpg!PinterestSmall.jpg" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Méndez, Tomás Francisco</p>
        <p id="profesion">Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerda de mí</h1>
            <p>Estudiante de la Licenciatura en Economía en la Universidad Nacional de Córdoba, además me encuentro realizando cursos sobre desarrollo web.

            En un trabajo busco desarrollarme profesionalmente poniendo en práctica todo lo aprendido en las diferentes instituciones educativas a las que asistí y asisto, además tengo mucha predisposición para las diferentes tareas laborales, soy bueno trabajando en equipo y me considero muy responsable.
            </p>
        </span>
    </div>
</div>