<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li><h2>Argentina Programa
            </h2> - <h4>(2021- En Curso)</h4></li>
            <p>
                Actualmente estoy realizando el curso Argentina Programa, con el objetivo es ser un desarrollador full-stack con un certificado de parte del Ministerio de Desarrollo Productivo.

            </p>
        </ul>
        <ul>
            <li><h2>Udemy</h2> - <h4>(2021- En Curso)</h4></li>
            <p>Actualmente estoy realizando el curso “Python sin Fronteras: HTML, CSS, Flask y MySQL” en la plataforma Udemy.    
            </p>
        </ul>
        <ul>
            <li><h2>Universidad Nacional de Córdoba
            </h2> - <h4>(2019- En Curso)</h4></li>
            <p>
                Actualmente estoy estudiando la Licenciatura en Economía en la UNC.                
            </p>
        </ul>
        <ul>
            <li><h2>Dante Alighieri</h2> - <h4>(2011- 2017)</h4></li>
            <p>
                Egresado de la escuela paritaria Dante Alighieri con orientación en Gestión y Economía.                               
            </p>
        </ul>
    </div>
</div>
