#logoAP{
    width: 150px;
    margin-top: 5px;
}
img{
    width: 45px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    margin-right: 0.5em;
}